DB_URL=jdbc:postgresql://localhost:5432/openbake
DB_USERNAME=openbake
DB_PASSWORD=openbake

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=YOUR_JWT_SECRET_BASE64_256BIT

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID